@page
@model Front.Pages.Colaboradores.EditarModel
@{
    Layout = "_Layout";
}

<h2>Editar colaborador</h2>

<div class="card p-3">

    <input id="nombre" class="form-control mb-2" placeholder="Nombre completo">
    <input id="puesto" class="form-control mb-2" placeholder="Puesto">
    <input id="salario" class="form-control mb-2" placeholder="Salario">

    <button id="btnActualizar" class="btn btn-success mt-3">Actualizar</button>
</div>

<script>
    const api = "@(Model.ApiBase)/colaboradores/@Model.Id";

    function cargar() {
        fetch(api)
            .then(r => r.json())
            .then(c => {
                nombre.value = c.nombre;
                puesto.value = c.puesto;
                salario.value = c.salario;
            });
    }

    btnActualizar.onclick = () => {

        const body = {
            id_colaborador: @Model.Id,
            nombre: nombre.value,
            puesto: puesto.value,
            salario: parseFloat(salario.value)
        };

        fetch(api, {
            method: "PUT",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(body)
        })
        .then(() => location.href = "/Colaboradores");
    };

    cargar();
</script>
